:root {

    /* BASEFARGER */

    /* "Parchment" */
    --primary-color:#F1E7D8; 

    /* Antique White */
    --secondary-color:#FAF7F2;
    


    /* ACCENT FARGER */

    /* Muted Teal */
    --accent-color-primary: #7A9D8C;

    /* Powder Blush */
    --accent-color-secondary: #F2B8A2;

    /* TEKST FARGE */

    --text-color-primary: #3E342D;

    



    
}



/* GLOBAL STLYING */
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--primary-color);
    color: var(--text-color-primary);
    font-family: 'Poppins', sans-serif ;
    
    

}

/* Global styling for anchor tags i body */
body a{
    text-decoration-line: underline;
    color: var(--text-color-primary);
    
}

/* Global styling for headlines i seksjonene */
h2{
    font-size: 40px;
}

h1, h2, h3, h4{
    font-family: "Playfair Display", serif;
}


/* Styling for "divider" mellom seksjonene */
.section-divider{
    height: 100px;
    background-color: var(--accent-color-primary);
    margin: 80px;
}


/* Styling for knappene rundt om kring i body */
.page-button{
    background-color: var(--accent-color-primary);
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    border: 2px solid transparent;
    color: var(--text-color-primary);
    font-size: 18px;
    font-weight: 600;
}

/* Effekt for å vise at man hovrer knappene */
.page-button:hover{
    border: 2px solid var(--text-color-primary);
}



/* STYLING FOR HEADER */

header{
    display: flex;
    height: 220px;
    justify-content: center;
    gap: 100px;
    align-items: center;
    margin-bottom: 40px;
    

}

header img {
    width: 395px;
}

/* STYLING FOR LOGO OG NAVBAR */

.header-container{
    display: flex;
    background-color: var(--secondary-color);
    flex-direction: column;
    width: 928px;
    max-height: 158px;
    border-radius: 100px;
    padding-left: 100px;
    margin-left: 50px;
    
}

#main-headline{
    
    padding-left: 50px;
    margin: 5px 0px 5px 0px;

}

/* for å splitte opp fargen på span elementene i headline */
.crafts{
    color: var(--accent-color-secondary);
}

.villa{
    color: var(--accent-color-primary);
}
nav ul{
    display: flex;
    
    justify-content: space-between;
    margin-right: 180px;
}

nav li{
    list-style-type: none;
    max-height: 60px ;
    align-items: center;
    
    background-color: var(--accent-color-primary);
    padding: 18px;
    border-radius: 50px;
    border: 2px solid transparent;

    
}

/* hover effekt for knappene i header/nav */
nav li:hover {
    
    border: solid 2px black;
        
}

nav a{
    text-decoration: none;
    color: var(--text-color-primary);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    
   
}
.nav-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}


/* STYLING FOR MAIN */

/* Hero styling */

.hero{
    display: flex;
    justify-content: center;
    gap: 120px;
    min-height: 100vh;

}


.hero img{
    height: 626px;
    width: 887px;
    border-radius: 37px;
    margin-top: 50px;
}

.hero-text{
    width:438px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding-top: 40px;
}

.hero-text h2{
    padding: 0px 20px 0px 20px;
}

#hero-text-secondary{
    font-size: 24px;
}

#hero-text-tertiary{
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    
}




/* Styling for Who we are section */

.about-us{
    display: flex;
    justify-content: center;
    gap: 150px;
    height: 100vh;
    align-items: center;
}

.about-text-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 537px;
    font-size: 24px;
    margin-top: 80px;
    gap: 200px;
}


.portretter-container{
    display: flex;
}


div.portretter img{
    width: 250px;
    height: 320px;
    border-radius: 135px;
}


/* Styling for what we offer seksjonen */

.what-we-offer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.services-container{
    display: flex;
    gap: 150px;
}
div.services-container img{
    width: 300px;
    height: 358px;
    border-radius: 78px;
}

.service-card{
    display: flex;
    flex-direction: column;
    

}

.service-card-text{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

.service-card-text p{
    margin: 0px;

}

.what-we-offer-text{
    max-width: 384px;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
    gap: 55px;
    align-items: center;
    text-align: center;
    padding: 50px;
    
}

.what-we-offer-text p{
    font-size: 24px;
}




/* Styling for booking seksjonen */

.booking-calendar{
    align-items: center;
    flex-direction: column;
    display: flex;
    
}




.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

section.gallery img{
    border-radius: 15px;
}

.gallery-images{
    display: flex;
    gap: 10px;
}



textarea {
    width: 400px;
    height: 150px;
    resize: none;
}



/* Styling for feedback form/seksjonen */

.feedback{
    justify-content: center;
    display: flex;
    text-align: center;
    
}

.feedback-form{
    gap: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 100px;
    background-color: var(--accent-color-primary);
    border-radius: 20px;
}

#submit-button{
    max-width: 150px;
    min-width: 100px;
    padding: 10px;
    border-radius: 100px;
    background-color: var(--secondary-color);
    align-self: center;
    
    
}

#submit-button:hover{
    box-shadow: 0 8px 20px rgba(0,0,0,0.55);
    
}



