:root {

    /* BASEFARGER */

    /* "Parchment" */
    --primary-color:#F1E7D8; 

    /* Antique White */
    --secondary-color:#FAF7F2;
    


    /* ACCENT FARGER */

    /* Muted Teal */
    --accent-color-primary: #7A9D8C;

    /* Powder Blush */
    --accent-color-secondary: #F2B8A2;

    /* TEKST FARGE */

    --text-color-primary: #3E342D;
}

/* GLOBAL STLYING */

body{
    background-color: var(--primary-color);
    color: var(--text-color-primary);
}

/* STYLING FOR HEADER */

header{
    display: flex;
    height: 220px;
    justify-content: space-between;
    align-items: center;
    

}

/* Styling for logo og navbar */

.header-container{
    display: flex;
    background-color: var(--secondary-color);
    flex-direction: column;
    width: 928px;
    border-radius: 100px;
    padding-left: 100px;
    margin-left: 50px;
    
}

#main-headline{
    color: red;
    padding-left: 50px;

}
ul{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-right: 180px;
}

li{
    list-style-type: none;
}
a{
   
}